body {
  margin: 24px;
  font-family: system-ui, -apple-system, sans-serif;
}

div.sticky {
  position: sticky;
  top: 0;
  padding: 12px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

.spacer {
  height: 2000px;
}
